
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  position: fixed;
  width: 256px;
  z-index: -1;
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}
 h2 {
   text-align: center;
 }
#pizza0, #pizza1 {
  width:33.33%; height: 325px;
}

 #pizza0:nth-child(0), #pizza1:nth-child(0) {
   width: 35%;
 }

#pizza0:nth-child(1), #pizza1:nth-child(1) {
  width: 65%;
}